#disqus-identifier {
    display: none;
}

#content, #postamble, #disqus_thread, table {
  margin: 0 auto;
}

#content, #postamble, #disqus_thread {
  max-width: 720px;
}

#content > p {
  text-align: justify;
}

#content:lang(en) {
  font-family: Palatino Linotype, Palatino, Times New Roman, Times, serif;
  font-feature-settings: "dlig", "onum";
}

#content:lang(zh) {
  font-family: sans;
}

#postamble {
    margin-top: 1.2em;
}

@media (min-width: 1366px) {
  #content, #postamble, #disqus_thread {
    max-width: 768px;
  }

  #content {
    font-size: 1.4em;
  }
}

th.org-left {
    text-align: left;
}
